.middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: auto;
}
.about {
  transform: skewX(-7deg);
  display: flex;
  left: -3.2%;
  top: 100%;
  height: 90%;
  width: 53.2%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.about_cover {
  transform: skewX(-7deg);
  display: flex;
  left: -56.4%;
  top: 100%;
  height: 90%;
  width: 53.2%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.QA {
  transform: skewX(173deg);
  display: flex;
  top: 100%;
  height: 90%;
  width: 53.2%;
  left: 50%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}
.QA_cover{
  transform: skewX(173deg);
  display: flex;
  top: 100%;
  height: 90%;
  width: 53.2%;
  left: 103.2%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
}

.title {
  display:flex;
  top: 50%;
  font-family: "Montserrat", sans-serif;
}

.align-card {
  display:flex;
  transform: skewX(7deg);
  height: 60vh;
  width: 90%;
  border-radius: 15px;
  padding: 50px;
  display: flex;
  flex-direction: column;
}



