@mixin format {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: auto;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

.intro {
  @include format;
}

.card_page {
  @include format;
  background-color: mediumblue;
}

.footer_page {
  @include format;
  background-color: mediumblue;
}

.team_page {
  @include format;
  background-color: mediumblue;
}

.projects_page {
  @include format;
  background-color: rgb(196, 195, 195);
}

.custom-shape-divider-bottom-1663642963 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);

}

.custom-shape-divider-bottom-1663642963 svg {
  position: relative;
  display: block;
  width: calc(139% + 1.3px);
  height: 103px;
}

.custom-shape-divider-bottom-1663642963 .shape-fill {
  fill: #FFFFFF;
}

.TextStyle {
  font-family: 'Josefin Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  padding-left: 150px;
  color: white;
  width: 920px;
  word-wrap: break-word;
  animation: fadeInLeft 1s;

}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.StartStyle {
  bottom: 30px;
  color: white;
  
}

.center {
  
  font-family: 'Inter';
  font-weight: bold;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 18px;
  padding-top: 50px;
  padding-left: 150px;


}

.start {
  border-radius: 30px 30px 30px 30px;
  width: 200px;
  height: 40px;
}