.team {
  display: flex;
  top: 6%;
  height: 90%;
  width: 100%;
  overflow-y: visible;
  overflow-x:visible;
}
.total_team_page {
  display: flex;
  height: 270%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  background: rgb(17,9,161);
  background: linear-gradient(90deg, rgba(17,9,161,1) 0%, rgba(67,129,186,1) 100%);
}
.team_cont {
  display: flex;
  top: 90%;
  height: 90%;
  width: 100%;
  overflow-y: hidden;
}
.team_cont2 {
  display: flex;
  top: 180%;
  height: 90%;
  width: 100%;
  overflow-y: hidden;
}
.pic {
  display: flex;
  height: 100%;
  width: 80%;
  align-items: center;
  justify-content: center;
  position: relative;
}

.pic_1 {
  height: 90%;
  width: 80%;
}

.pic2 {
  left: 25%;
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.pic_2 {
  height: 90%;
  width: 80%;
}
.center_team {
  display: flex;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  position: absolute;
  left: 46%;
}
.abt_person {
  height:100%;
  background: linear-gradient(#ffffff00, #25252500 50%, #fefffe 50%, #fafafa);
  opacity:0.4;
  background-size: 100% 200%;
  /*trasition effect for background*/
  transition: 1s;
}

.abt_person:hover {
  background-position: 100% 100%;
}
.name{
  font-size:20px;
}